In [ ]:
alunos = [
    "Robson",
    "Robsvaldo",
    "Robsa",
    "Robmero",
    "Roubsoun",
    "Roubsoninho",
    "Rounaudinho",
    "Primo Do Robson",
    "Mãe do Robso",
    "Pai do Robso",
    "Irmão do Robso",
    "Amigo do Robso",
    "Robnalda",
    "Robsvalda",
    "Minecraft",
    "Roblox",
    "Neyma",
    "Mbampe",
    "Chico Moedas",
    "Chico Coins",
    "Baby coin",
    "EU tenteiii",

]

for i in range(0, len(alunos)):
  print(f'O {i + 1}º nome da lista é: {alunos[i]}')

In [ ]:
lista_de_compras = ['Arroz',
                    20,
                    2.40,
                    True,
                    None]

print(lista_de_compras)
type(lista_de_compras[4])
print(len(lista_de_compras))

In [ ]:
mercado = ['Arroz', 'Feijao', 'Batata']

print(len(mercado))

In [ ]:
for i in range(0, len(mercado)):
  print(mercado[i])

In [ ]:
compras = []

print(compras)
adicionar = str(input('Adicione um item a lista: '))

compras.append(adicionar)
print(compras)

excluir = int(input('Digite o número do indice para ser excluido: '))

excluido = compras.pop(excluir)

print(excluido)
print(compras)

In [ ]:
marcas = [
    'Ford',
    'Peugueot',
    'Chrevolet',
    'Volkwagen'
]

print(marcas)

marcas[1] = 'Fiat'

print(marcas)

In [ ]:
alunos = ['Robson', 'Robsa', 'Roberto', 'Firmino']

print(alunos)

excluir = int(input('Escreva a posição do aluno que deseja excluir: '))

del alunos[excluir]

print(alunos)

In [ ]:
alunos2 = ['442', 'Vida', "Rasa", "Orochi"]

print(alunos2)
adicionar = str(input('Escreva o nome do aluno para ser adicionado: '))

alunos2.append(adicionar)
print(alunos2)

excluir = int(input('Digite o numero da pessoa que deseja excluir: '))

excluido = alunos2.pop(excluir)

print(f'O aluno {excluido} foi escolhido com sucesso')
print(alunos2)

In [ ]:
alunos3 = ['Igor', 'Guilherme', 'Anda', 'Pensando']

print(alunos3)

excluir= int (input('Escreva a posição do aluno que deseja excluir: '))

excluido = alunos3.pop(excluir)

print(excluido)
print(alunos3)

In [ ]:
alunos4 = ['Igor', 'Guilherme', 'Anda', 'Pensando']

consulta = str(input('Digite um nome a ser consultado: '))

if consulta in alunos4:
  print('O nome esta na turma')

else:
  print('O nome não esta na turma')